@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

/* Botões da tela principal */
.button img {
    margin: 50px 15px 25px 15px;
    width: 128px;
    height: 128px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    text-align: center;
}

/* Ajustar o height da busca de clientes na OS */

#buscarclientes {
    height: 40px;
    margin-left: 10px;
}

/* Botão reset */
#btnReset {
    width: 64px;
    height: 64px;
    background-image: url('../img/apagadorazul.png');
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* Logo */
#logo {
    position: fixed;
    bottom: 40px;
    right: 5px;
    border: none;
    cursor: none;
}

/* ocultar o campo id do cliente (na página cliente do sistema) */
#idClient {
    display: none;
}

/* Rodapé */
footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
footer p{
    font-size: 14px;
    margin-top: 15px;
    text-transform: uppercase;
}

